
/*
1) Velja font
2) Velja lit
*/

body {
    border: solid;
}


.body-content {
    margin-top: 9%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Navbar */
#nav-bar {
    position: fixed;
    border: solid;
    height: 12%;
    width: 100%;
    padding-top: 1%;
    padding-left: 2%;
}

#top-nav-bar {
    border: solid;
}

#bottom-nav-bar {
    border: solid;
}

.dropdown-menu {
    background-color: brown;
}

/* Popup container */
#popup-container {
    display: none;
    position: fixed;
    margin-top: 90px;
    width: 70%;
    padding-left: 2%;
    background-color: #ffffff;
    z-index: 2;
}

#popup-container ul {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0%;
    margin-bottom: 10px;
}

#popup-container li {
    margin-top: 10px;
}

/* Front page */
#books-container h3 {
    text-align: center;
}

#books-container h6 {
    text-align: center;
}

#book-frontpage p {
    text-align: center;
}

/* Footer */
footer {
    margin-top: 1%;
    padding-left: 2%;
}

footer ul {
    list-style-type: none;
    padding-top: 5%;
    padding-left: 0%;
}

footer a {
    text-decoration-line: none;
}

footer a:hover {
    color: none;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
