
/*
1) Velja font
2) Velja lit
*/

body {
    border: solid;
    padding-bottom: 20px;
}


.body-content {
    border: solid;
    margin-top: 9%;
    padding-left: 15px;
    padding-right: 15px;
}

#nav-bar {
    position: fixed;
    border: solid;
    height: 12%;
    width: 100%;
    padding-top: 1%;
    padding-left: 9%;
    padding-right: 9%;
}

#top-nav-bar {
    border: solid;
}

#bottom-nav-bar {
    border: solid;
}

footer .col-lg-2 {
    border: solid;
}

footer .col-lg-3 {
    border: solid;
}


footer h5 {
    border: solid;
}

footer ul {
    list-style-type: none;
    border: solid;
    padding-left: 0%;
}

footer a {
    text-decoration-line: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(199, 43, 43);
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
