
/*
1) Velja font
2) Velja lit
*/

.body-content {
    margin-top: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Navbar */
#nav-bar {
    top: 0;
    position: fixed;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    padding-left: 85px;
    padding-right: 85px;
    height: 85px;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
}

#nav-bar h5 {
    margin-top: 20px;
}

#nav-bar h5 a {
    color: #070707;
    text-decoration: none;
}

#top-nav-bar {
    margin-top: 10px;
}

#bottom-nav-bar {
    margin-top: 10px;
}

#nav-login {
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 7px;
}

#nav-login .btn-xs {
    margin-left: 45px;
}

/* Popup container */
#popup-container {
    display: none;
    position: fixed;
    margin-left: 85px;
    width: 65%;
    padding-left: 40px;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    background-color: #ffffff;
    z-index: 10;
    top: 85px;
}

#popup-container h4 {
    margin-top: 40px;
}

#popup-container ul {
    margin-top: 30px;
    list-style-type: none;
    padding-left: 0%;
    margin-bottom: 30px;
}

#popup-container li {
    margin-top: 15px;
}

/* Front page */
#books-header-container h3 {
    text-align: center;
}

#books-header-container h6 {
    text-align: center;
}

#book-frontpage-container {
    margin-top: 15px;
}

#book-frontpage {
    text-align: center;
}

#book-frontpage ul {
    list-style-type: none;
}

#book-details-frontpage {
    margin-top: 10px;
    padding: 0%;
}

/* Feedback button */
#feedback {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 12;
}

#feedback h4 {
    text-align: center;
}

#feedback p {
    margin-top: 5px;
    text-align: center;
}

#feedback textarea {
    margin-top: 5px;
    resize: none;
    width: 100%;
}

#feedback form button {
    margin-top: 10px;
}

#feedback a {
    text-decoration-line: none;
}

.modal-backdrop {
    z-index: 11;
}

/* Book details view */
#book-left-container {
    border: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right-width: thin;
}

#book-detail-container {
    text-align: center;
}

#book-description-small {
    margin-top: 20px;
} 

#book-detail-container .btn {
    margin-top: 5px;
}

#book-description {
    margin-top: 20px;
    padding-right: 20px;
}

#book-description h4 {
    border: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-width: thin;
    padding-bottom: 5px;
}

#book-right-details {
    border: solid;
    border-width: thin;
    width: 40%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

#book-right-details .btn {
    width: 100%;
}

#book-right-details .btn-primary {
    margin-top: 20px;
}

#book-right-details .btn-success {
    margin-top: 30px;
}

/* Authors index */
#authors-heading {
    text-align: center;
}

#authors-table {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#authors-popular-container h3 {
    text-align: center;
}

/* Author details view */
#author-left-container {
    border: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right-width: thin;
}

#author-left-container img {
    margin-top: 20px;
}

#author-about {
    margin-top: 40px;
}

#author-about p {
    margin-top: 15px;
}

#author-books-container {
    list-style-type: none;
}

#author-booklist {
    margin-top: 10px;
}

#author-booklist li {
    padding-top: 5px;
}

#top10-heading {
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    border: solid;
    border-top-width: thin;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#top10-book-container {
    margin-top: 70px;
    padding-bottom: 60px;
    text-align: center;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#top10-book-container h3 a {
    color: #070707;
}

#bestsellers-book-heading {
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    border: solid;
    border-top-width: thin;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#bestsellers-book-container {
    margin-top: 70px;
    padding-bottom: 60px;
    text-align: center;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#bestsellers-book-container h3 a {
    color: #070707;
}

#bestsellers-audio-heading {
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    border: solid;
    border-top-width: thin;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#bestsellers-audio-container {
    margin-top: 70px;
    padding-bottom: 60px;
    text-align: center;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#bestsellers-audio-container h3 a {
    color: #070707;
}

/* My account view */
#myAccount-view {
    margin-top: 10px;
}

#myAccount-view-left {
    border: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right-width: thin;
}

#myAccount-heading {
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

#myAccount-view .btn {
    margin-top: 10px;
    margin-left: 15px;
}

#myAccount-view .list-group {
    margin-top: 40px;
}

#myAccount-details {
    margin-left: 15px;
}

#myAccount-details img {
    border: solid;
}

#billing-address h3 {
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

#shipping-address h3 {
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

#card-information h3 {
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

#myProfile h3 {
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

/* Footer */
footer {
    margin-top: 20px;
    margin-bottom: 45px;
    padding-left: 85px;
    padding-right: 85px;
}

footer ul {
    list-style-type: none;
    padding-top: 5%;
    padding-left: 0%;
}

footer a {
    text-decoration-line: none;
}

footer a:hover {
    color: none;
}

/* Register */
#register-heading {
    margin-top: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
    border-top-width: thin;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#register-info {
    margin-top: 20px;
}

#register-info .input-group {
    margin-top: 40px;
}

#register-info .btn {
    margin-top: 40px;
    width: 100%;
}

#register-font {
    padding-left: 10px;
}

#login-font {
    margin-left: 45px;
}

/* Log In */
#login-heading {
    margin-top: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
    border-top-width: thin;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#login-info {
    margin-top: 20px;
}

#login-info .input-group {
    margin-top: 40px;
}

#login-info .checkbox {
    margin-top: 15px;
    padding-left: 25px;
}

#login-info .btn {
    margin-top: 40px;
    width: 100%;
}

/* Choose For Me */
#chooseforme-heading {
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    border: solid;
    border-top-width: thin;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
}

#chooseforme-book-container {
    margin-top: 70px;
    padding-bottom: 60px;
    text-align: center;
}

#chooseforme-book-container h3 a {
    color: #070707;
}

#chooseforme-book-container button {
    margin-top: 20px;
}

#cart-container {
    text-align: center;
}

#cart-header {
    border: solid;
    border-top-width: thin;
    border-bottom-width: thin;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#show-cart {
    margin-top: 50px;
}

#show-cart img {
    margin-bottom: 20px;
}

#cart-container .btn-default {
    margin-top: 30px;
    margin-bottom: 30px;
}

#cont-shop {
    float: left;
    width: 200px;
}

#checkout {
    float: right;
    width: 200px;
}

#buttons {
    margin-top: 30px;
}

#back-to-cart {
    width: 200px;
}

#back-to-payment {
    float: right;
    width: 200px;
}

#pay-buttons {
    margin-top: 30px;
}

#back-to-del {
    width: 200px;
}

#go-to-rev {
    width: 200px;
}

#review-heading {
    text-align: center;
    border: solid;
    border-left: none;
    border-right: none;
    border-top-width: thin;
    border-bottom-width: thin;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 80px;
}

#your-order-left-container {
    border: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right-width: thin;
    text-align: center;
}

#your-order-right-container {
    padding-left: 150px;
}

#go-to-con {
    float: right;
    width: 200px;
}

#back-to-pay {
    width: 200px;
}

#bla {
    margin-top: 80px;
}

/* 5star */
.rate {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
  }
  .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
