
/*
1) Velja font
2) Velja lit
*/

body {
    border: solid;
    padding-bottom: 20px;
}


.body-content {
    border: solid;
    margin-top: 9%;
    padding-left: 15px;
    padding-right: 15px;
}

#nav-bar {
    position: fixed;
    border: solid;
    padding: 0%;
    height: 12%;
    width: 100%;
}

#top-nav-bar {
    border: solid;
}

#bottom-nav-bar {
    border: solid;
}

footer .col-lg-2 {
    border: solid;
}

footer .col-lg-3 {
    border: solid;
}

footer h5 {
    border: solid;
}

footer ul {
    list-style-type: none;
    border: solid;
    margin-top: 10%;
    padding-left: 0%;
}

footer a {
    text-decoration-line: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
    color: black;
}