@model List<BookCave.Models.ViewModels.BookListViewModel>

<h2 id="cart-header">Shopping Cart</h2>

<!--<button type="button" id="display" class="btn btn-primary">Click me</button> -->

<div id="show-cart">

</div>