@model BookCave.Models.InputModels.InputCardModel

<div class="container">
  <div class="row" id="card-information">
    <div class="col-lg-3">
      <h3>Card Information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form asp-controller="Payment" asp-action="Pay" method="POST">
        <div class="form-group">
          <label for="cardholdername">Cardholder Name:</label>
          <input type="text" class="form-control" id="cardholdername" asp-for="CardHolderName" 
          placeholder="CardHolderName" value="@Model.CardHolderName">
          <span asp-validation-for="CardHolderName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="cardnumber">Card Number:</label>
          <input type="text" class="form-control" id="cardnumber" asp-for="CardNumber"
          placeholder="CardNumber" value="@Model.CardNumber">
          <span asp-validation-for="CardNumber" class="text-danger"></span>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <div class="form-group">
              <label for="">Month:</label> <br>
                <select name="month" id="month-dropdown">
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              <label for="">Year:</label> <br>
                <select name="year" id="year-dropdown">
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label for="SecurityNumber">Security Number:</label>
              <input type="number" class="form-control" id="securitynumber" asp-for="SecurityNumber"
                value="@Model.SecurityNumber">
              <span asp-validation-for="SecurityNumber" class="text-danger"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div id="pay-buttons"> 
      <div class="col-lg-3">
        <a asp-controller="Payment" asp-action="Delivery" class="btn btn-primary" id="back-to-del">Back To Delivery</a>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-3">
        <a asp-controller="Payment" asp-action="Review" class="btn btn-primary" id="go-to-rev">Go To Review Order</a>
      </div>
    </div>
  </div>
</div>