<form action="POST">
   <label for="Name">Cardholder Name: </label>
  <input type="text" id="Name">
  <br>
  <label for="Address">Cardnumber: </label>
  <input type="text" id="Address">
  <br>
</form>