@model List<BookCave.Models.ViewModels.BookListViewModel>
<P>Your order</P>
<div id="show-cart"></div>
<div> <a asp-controller="Payment" asp-action="Pay" class="btn btn-primary btn-lg">Back to payment</a>
      <a asp-controller="Payment" asp-action="Confirm" class="btn btn-primary btn-lg">Go to confirmation</a>
</div>