@model List<BookCave.Models.ViewModels.BookListViewModel>

<div>
    @foreach (var book in @Model)
    {
        <p><a asp-controller="Book"asp-action="Details" asp-route-id="@book.Id">@book.Title</a>, @book.Author</p>
    }
</div>