@model List<BookCave.Models.ViewModels.BookListViewModel>

<div>
    @foreach (var book in @Model)
    {
        <p><a asp-controller="Book"asp-action="Details" asp-route-id="@book.Id">@book.Title</a>,
        <a asp-controller="Author"asp-action="Details" asp-route-id="@book.AuthorsId">@book.Author</a></p>
    }
</div>