<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] BookCave</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <div class="container" id="nav-bar">
        <div class="row">
            <div class="col-lg-1">
                <h5><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-book"></span> THE BOOKCAVE</a></h5>
            </div>
            <div class="col-lg-11">
                <div id="top-nav-bar">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    All <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#"><span lang="en">Books</span> <span lang="is">Bækur</span></a></li>
                                        <li><a href="#"><span lang="en">Audiobooks</span> <span lang="is">Hljóðbækur</span></a></li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            @await Html.PartialAsync("_LoginPartial")
                            <!-- <a href="#"><span lang="en">Sign In</span> <span lang="is">Innskrá</span></a> -->
                        </div>
                        <div class="col-lg-1">
                            <a type="button" class="btn btn-primary" asp-controller="Cart" asp-action="Index">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span id="number-of-cartitems" class="badge">0</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="bottom-nav-bar">
                    <div class="row">
                        <div class="col-lg-1">
                            <a href="#" id="bottom-nav-books"><span lang="en">Books</span> <span lang="is">Bækur</span> <span class="caret"></span></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" id="bottom-nav-audio"><span lang="en">Audiobooks</span> <span lang="is">Hljóðbækur</span> <span class="caret"></span></a>
                        </div>
                        <div class="col-lg-7">
                            <a asp-controller="Book" asp-action="chooseforme" id="chooseforme"><span lang="en">Choose For Me</span> <span lang="is">Velja fyrir mig</span></a>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" id="euro-btn" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-euro"></span> <span lang="en">Euro</span> <span lang="is">Evrur</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon">&#xe148;</span> <span lang="en">US Dollar</span> <span lang="is">BNA Dollari</span></a></li>
                                <li><a href="#"><span class="glyphicon">&#x20ac;</span> <span lang="en">Euro</span> <span lang="is">Evrur</span></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-default btn-xs" id="switch-lang-is"> IS </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="popup-container">
        <div class="row">
            <div class="col-lg-12">
                <h4><a href="#"><span lang="en">Books</span> <span lang="is">Bækur</span></a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul>
                    <li><strong><span lang="en">Customer Favorites</span> <span lang="is">Eftirlæti Viðskiptavinarins</span></strong></li>
                    <li id="book-top"><a asp-controller="Book" asp-action="Top10Rated"><span lang="en">BookCave Top 10</span> 
                        <span lang="is">BookCave Topp 10</span></a>
                    </li>
                    <li id="book-best"><a asp-controller="Book" asp-action="BestSellers">BookCave Bestsellers</a></li>
                    <li id="book-author"><a asp-controller="Author" asp-action="Index"><span lang="en">Books by Author</span>
                        <span lang="is">Bækur Eftir Höfund</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><strong><span lang="en">Subjects</span> <span lang="is">Tegundir Bóka</span></strong></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Adventure"><span lang="en">Adventure</span> <span lang="is">Ævintýrabækur</span></a></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Biography"><span lang="en">Biography</span> <span lang="is">Ævisögur</span></a></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Comedy"><span lang="en">Comedy</span> <span lang="is">Gamanbækur</span></a></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Horror"><span lang="en">Horror</span> <span lang="is">Hrollvekjubækur</span></a></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Romance"><span lang="en">Romance</span> <span lang="is">Ástarsögur</span></a></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Sci-fi"><span lang="en">Sci-Fi</span> <span lang="is">Vísindaskáldskapur</span></a></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Sport"><span lang="en">Sport</span> <span lang="is">Íþróttabækur</span></a></li>
                    <li><a href="http://localhost:5000/book/genre?genre=Thriller"><span lang="en">Thriller</span> <span lang="is">Spennusögur</span></a></li>
                </ul>
            </div>
        </div>
    </div>
     <div id="feedback">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#feedbackModal">
            <span lang="en">Give Feedback</span> <span lang="is">Gera Athugasemd</span>
        </button>
        <div id="feedbackModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">The BookCave</h4>
                        <p>
                            <span lang="en">How was your experience on our site?</span> 
                            <span lang="is">Hvernig var reynslan þín á vefsíðunni?</span>
                        </p>
                        <form action="#" method="POST">
                            <textarea name="feedback-input" id="feedback-input-id" 
                            rows="5" placeholder="Share your feedback here"></textarea>
                            <button type="submit" class="btn btn-primary btn-block">
                                <span lang="en">Sumbmit</span>
                                <span lang="is">Senda</span> 
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#">
                            <span lang="en">Privacy Policy</span>
                            <span lang="is">Friðhelgisstefna</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr>
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-2">
                 <h5><span lang="en">Explore</span> <span lang="is">Skoða</span></h5>
                <ul>
                    <li><a href="#"><span lang="en">About Us</span> <span lang="is">Um Okkur</span></a></li>
                    <hr>
                    <li><a asp-controller="Account" asp-action="Register"><span lang="en">Sign Up</span> <span lang="is">Nýskrá</span></a></li>
                    <hr>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5><span lang="en">How Can We Help?</span> <span lang="is">Getum Við Hjálpað?</span></h5>
                <ul>
                    <li><a href="#"><span lang="en">Help</span> <span lang="is">Hjálp</span></a></li>
                    <hr>
                    <li><a href="#"><span lang="en">Contact Us</span> <span lang="is">Hafðu Samband</span></a></li>
                    <hr>
                </ul>
            </div>
            <div class="col-lg-2">
                    <h5><span lang="en">Join Us!</span> <span lang="is">Gakktu Til Liðs Við Okkur!</span></h5>
                    <ul>
                        <li><a href="#"><span lang="en">Jobs</span> <span lang="is">Störf</span></a></li>
                        <hr>
                    </ul>
                </div>
            <div class="col-lg-3">
                <h5><span lang="en">Important Stuff</span> <span lang="is">Mikilvægir Hlutir</span></h5>
                <ul>
                    <li><a href="#"><span lang="en">Privacy Policy</span> <span lang="is">Friðhelgisstefna</span></a></li>
                    <hr>
                    <li><a href="#"><span lang="en">Terms &amp; Conditions</span> <span lang="is">Skilmálar &amp; Skilyrði</span></a></li>
                    <hr>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5><span lang="en">We Accept These Payment Methods</span> 
                    <span lang="is">Við Tökum Við</span>
                </h5>
                <p><span lang="en">&copy; 2018 The BookCave Ltd.</span> <span lang="is">&copy; 2018 The BookCave Ehf.</span></p>
                <p><span lang="en">101 Reykjavík, Iceland</span> <span lang="is">101 Reykjavík, Ísland</span></p>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
