<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] BookCave</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <div class="container" id="nav-bar">
        <div class="row">
            <div class="col-lg-1">
                <h5>INSERT IMAGE OF BOOKCAVE</h5>
            </div>
            <div class="col-lg-11">
                <div id="top-nav-bar">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    All <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Tablet</a></li>
                                        <li><a href="#">Smartphone</a></li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <a href="#">Sign In</a>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="badge">0</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="bottom-nav-bar">
                    <div class="row">
                        <div class="col-lg-1">
                            <a href="#" id="bottom-nav-books">Books<span class="caret"></span></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" id="bottom-nav-audio">Audiobooks<span class="caret"></span></a>
                        </div>
                        <div class="col-lg-7">
                            <a href="#">Choose For Me</a>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" id="euro-btn" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-euro"></span> Euro <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon">&#xe148;</span> US Dollar</a></li>
                                <li><a href="#"><span class="glyphicon">&#x20ac;</span> Euro</a></li>
                                <li><a href="#"><span class="glyphicon">&#xe149;</span> British Pound</a></li>
                                <li><a href="#"><span class="glyphicon">&#x00a5;</span> Japenese Yen</a></li>
                                <li><a href="#"><span class="glyphicon">&#xe227;</span> Bitcoin</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" id="lang-btn" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown">
                                English <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Íslenska</a></li>
                                <li><a href="#">日本語</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="popup-container">
        <div class="row">
            <div class="col-lg-12">
                <h4><a href="#">Books</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul>
                    <li><strong>Customer Favorites</strong></li>
                    <li id="book-top"><a href="#">BookCave Top 25</a></li>
                    <li id="book-best"><a href="#">BookCave Bestsellers</a></li>
                    <li id="book-author"><a href="#">Books by Author</a></li>
                    <li id="book-new"><a href="#">New Releases</a></li>
                    <li id="book-month"><a href="#">Top Books of the Month</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><strong>Subjects</strong></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Comedy</a></li>
                    <li><a href="#">Sci-Fi</a></li>
                    <li><a href="#">Thriller</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr>
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-2">
                 <h5>Explore</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <hr>
                    <li><a href="#">Sign Up</a></li>
                     <hr>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5>How Can We Help?</h5>
                <ul>
                    <li><a href="#">Help</a></li>
                    <hr>
                    <li><a href="#">Contact Us</a></li>
                    <hr>
                </ul>
            </div>
            <div class="col-lg-2">
                    <h5>Join Us</h5>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <hr>
                    </ul>
                </div>
            <div class="col-lg-3">
                <h5>Important Stuff</h5>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <hr>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <hr>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>We Accept These Payment Methods</h5>
                <p>&copy; 2018 The Book Cave Ltd.</p>
                <p>101 Reykjavík, Iceland</p>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
