@model BookCave.Models.ViewModels.BookListViewModel
<div>
  <div class="jumbotron">
    <button id="winner-button" type="button" class="btn btn-success btn-lg">Choose A Book For Me</button>
    <h1 id="winner-book">Winner Winner Chicken Dinner:</h1>
  </div>
</div>