@model BookCave.Models.ViewModels.BookListViewModel
<div>
  <div class="jumbotron">
    <button id="winner-button" type="button" class="btn btn-success btn-lg">Choose A Book For Me</button>
    <h2 id="winner-book">Winner Winner Chicken Dinner: <br/></h2>
  </div>
  <div id="winner-result">
        <img id="winner-image" src="" alt="book-cover">
        <p id="winner-title"></p>
        <p id="winner-author"></p>
        <p id="winner-rating"></p>
        <p id="winner-price"></p>
        <p id="winner-format"></p>
  </div>
</div>