@model BookCave.Models.ViewModels.BookListViewModel

<div class="container">
  <div class="row">
      <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div id="chooseforme-heading">
              <h2>Choose For Me</h2>
          </div>
        </div>
      <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div id="chooseforme-book-container">
          <h3><a href="#"><span id="winner-title"></span></a></h3>
            <h5>by <a href="#"><span id="winner-author"></span></a></h5>
            <img id="winner-image" src="" alt="book-cover" width="250" height="320" class="img-rounded">
            <h2>Rating: <span id="winner-rating"></span></h2>
            <a href="#" class="btn btn-md"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</a> <br>
            <button type="button" class="btn btn-primary btn-lg">Add To Cart</button> <br>
            <button id="winner-button" type="button" class="btn btn-success btn-lg">Choose Another Book</button>
        </div>
      </div>
      <div class="col-lg-3"></div>
  </div>
</div>

<!--
<div>
  <div id="winner-result">
        <img id="winner-image" src="" alt="book-cover">
        <p id="winner-title"></p>
        <p id="winner-author"></p>
        <p id="winner-rating"></p>
        <p id="winner-price"></p>
        <p id="winner-format"></p>
  </div>
  <button id="winner-button" type="button" class="btn btn-success btn-lg">Choose A Book For Me</button>
</div>
-->